{% extends 'base.html' %}

{% block title %}Phân tích bất động sản{% endblock %}

{% block content %}
    <h1 class="text-center my-4">Group 1 - Lớp Python cho kỹ sư</h1>
    <h2 class="text-center my-4">Phân tích dữ liệu căn hộ tại địa bàn Đà Nẵng trên mogi.vn</h2>
    <h3 class="text-center my-4">Chọn một phân tích</h3>

    <div class="container mt-4">
        <div class="row d-flex align-items-stretch">
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">📊 - 1. Nhu cầu bán/cho thuê</h5>
                        <p class="card-text">Thống kê số lượng tin đăng bán/cho thuê theo từng quận.</p>
                        <a href="{{ url_for('apartment_demand') }}" class="btn btn-primary">Xem thống kê</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">📊 - 2. Thống kê giá trung bình mỗi m2 theo tháng của căn hộ cho thuê/bán</h5>
                        <p class="card-text">Thống kê giá trung bình mỗi m2 theo tháng của căn hộ cho thuê/bán</p>
                        <a href="{{ url_for('apartment_price_per_sqm') }}" class="btn btn-primary">Xem thống kê</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">📊 - 3. Thống kê số lượng tin rao bán/cho thuê theo mức giá và khu vực.</h5>
                        <p class="card-text">Thống kê số lượng tin rao bán/cho thuê theo mức giá và khu vực.</p>
                        <a href="{{ url_for('index3') }}" class="btn btn-primary">Xem thống kê</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">📊 - 4. Phân nhóm căn hộ theo diện tích cần bán/cho thuê theo từng quận</h5>
                        <p class="card-text">Phân nhóm căn hộ theo diện tích cần bán/cho thuê theo từng quận</p>
                        <a href="{{ url_for('apartment_area') }}" class="btn btn-primary">Xem thống kê</a>
                    </div>
                </div>
            </div>
        </div>
    </div>    
{% endblock %}